In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
!nvidia-smi

Sat Jan 25 17:59:18 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 440.44       Driver Version: 418.67       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   59C    P8    10W /  70W |      0MiB / 15079MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                       GPU Memory |
|  GPU       PID   Type   Process name                             Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [0]:

import pandas as pd
import numpy as np

expander = pd.read_csv('gdrive/My Drive/Expander_data.csv')

Checking if the Columns have Null values. Looks good, only one column.

In [0]:
expander.columns[expander.isna().any()]

Index(['Run Status'], dtype='object')

Attribute of interest (The targets) are stored in y variable.

In [0]:
y = expander.iloc[:,6]
expander = expander.drop("Discharge Pressure (psig)",axis=1)

In [0]:
expander.head(5)

        Timestamp  ...  Run Status
0  1/4/2020 21:20  ...         NaN
1  1/4/2020 21:20  ...         NaN
2  1/4/2020 21:20  ...         NaN
3  1/4/2020 21:20  ...         NaN
4  1/4/2020 21:21  ...         NaN

[5 rows x 8 columns]

Some things we can infer:
1. Run Status has no useful value, hence can be dropped.
2. Discharge temperature and Suction Temperature has negative values only.

In [0]:
expander.describe()

       Suction Pressure (psig)  ...  Run Status
count            296450.000000  ...         0.0
mean                590.541350  ...         NaN
std                  23.216552  ...         NaN
min                 552.420048  ...         NaN
25%                 572.757269  ...         NaN
50%                 586.491792  ...         NaN
75%                 605.986608  ...         NaN
max                 649.217417  ...         NaN

[8 rows x 7 columns]

For better understanding of the data, lets convert the negative values to positive values.

In [0]:
def neg_to_positive(data,col):
  min_val = min(data[col].values)
  min_val = abs(min_val)+1
  expander[col] += min_val 

neg_to_positive(expander,"Suction Temperature (F)")
neg_to_positive(expander,"Discharge Temperature (F)")

In [0]:
print(min(expander["Suction Temperature (F)"].values), max(expander["Suction Temperature (F)"].values))
print(min(expander["Discharge Temperature (F)"].values), max(expander["Discharge Temperature (F)"].values))

1.0 16.15484619999998
1.0 16.199120399999998

In [0]:
expander.describe()

       Suction Pressure (psig)  ...  Run Status
count            296450.000000  ...         0.0
mean                590.541350  ...         NaN
std                  23.216552  ...         NaN
min                 552.420048  ...         NaN
25%                 572.757269  ...         NaN
50%                 586.491792  ...         NaN
75%                 605.986608  ...         NaN
max                 649.217417  ...         NaN

[8 rows x 7 columns]

Dropping Run Status because it has no useful information.

In [0]:
expander = expander.drop(['Run Status'], axis=1)

Scaling data.

In [0]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0, 1))
expander.iloc[:,1:] = scaler.fit_transform(expander.iloc[:,1:])

In [0]:
expander.head(3)

        Timestamp  ...  Discharge Temperature (F)
0  1/4/2020 21:20  ...                   0.605415
1  1/4/2020 21:20  ...                   0.536056
2  1/4/2020 21:20  ...                   0.596146

[3 rows x 7 columns]

In [0]:
X = expander.iloc[:,1:].values
Y = y.values
y.shape, X.shape

((296450,), (296450, 6))

Splitting data. Train and test.

In [0]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.33,random_state=2, shuffle=True)

Custom function to calculate RMSE, which will be used for LSTM Model.

In [0]:
from keras import backend as K

def root_mean_squared_error(y_true, y_pred):
        return K.sqrt(K.mean(K.square(y_pred - y_true)))

Using TensorFlow backend.

A function to calculate RMSE, Accuracy, MAE after the predictions are obtained.

In [0]:
def metric_display(preds):
  errors = abs(preds - y_test)
  final_rmse = np.sqrt(np.mean(errors*errors))
  mape = 100 * (errors / y_test)
  accuracy = 100 - np.mean(mape)
  return "Mean Absolute Error: ", round(np.mean(errors), 2), "RMSE: ", final_rmse, "Accuracy: ", round(accuracy, 2)

Exploring Machine Learning/Deep Learning Models.

1. Random Forest

In [0]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators= 100, random_state=42)
rf.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [0]:
preds_rf = rf.predict(X_test)
scores_rf = metric_display(preds_rf)
print(scores_rf)

('Mean Absolute Error: ', 1.08, 'RMSE: ', 1.342022555464408, 'Accuracy: ', 99.42)

2. Gradient Boost

In [0]:
from sklearn.ensemble import GradientBoostingRegressor
gb = GradientBoostingRegressor(n_estimators= 100, random_state=42)
gb.fit(X_train, y_train)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=42, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [0]:
preds_gb = gb.predict(X_test)
scores_gb = metric_display(preds_gb)
print(scores_gb)

('Mean Absolute Error: ', 1.79, 'RMSE: ', 2.3616757284151517, 'Accuracy: ', 99.01)

3. AdaBoost

In [0]:
from sklearn.ensemble import AdaBoostRegressor
ada = AdaBoostRegressor(n_estimators= 200, random_state=42, learning_rate=0.1)
ada.fit(X_train, y_train)

AdaBoostRegressor(base_estimator=None, learning_rate=0.1, loss='linear',
                  n_estimators=200, random_state=42)

In [0]:
preds_ada = ada.predict(X_test)
scores_ada = metric_display(preds_ada)
print(scores_ada)

('Mean Absolute Error: ', 6.68, 'RMSE: ', 7.968433090920889, 'Accuracy: ', 96.09)

4. SVM

In [0]:
from sklearn.svm import SVR
svm=SVR()
svm.fit(X_train,y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [0]:
preds_svm = svm.predict(X_test)
scores_svm = metric_display(preds_svm)
print(scores_svm)

('Mean Absolute Error: ', 1.04, 'RMSE: ', 1.2601093235915026, 'Accuracy: ', 99.43)

Deep Learning Model LSTM

In [0]:
X_train_lst=X_train.reshape(X_train.shape[0],X_train.shape[1],1)
X_test_lst=X_test.reshape(X_test.shape[0],X_test.shape[1],1)

In [0]:
from pandas import read_csv
from keras.models import Sequential, Model
from keras.layers import Dense, LSTM, Input, Flatten
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

model = Sequential()
inp = Input(shape=(6,1))
x = LSTM(25, activation='relu', dropout=0.02)(inp)
x = Dense(1, kernel_initializer='normal')(x)
model = Model(inputs=inp, outputs=x)
model.compile(optimizer='adam', loss = root_mean_squared_error, metrics = ['mean_absolute_error'])
model.fit(x=X_train_lst, y=y_train, batch_size=150, epochs=50, verbose=1)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:148: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3733: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
Epoch 1/50
198621/198621 [==============================] - 17s 86us/step - loss: 31.1673 - mean_absolute_error: 25.8004
Epoch 2/50
198621/198621 [==============================] - 16s 83us/step - loss: 8.6681 - mean_absolute_error: 5.5626
Epoch 3/50
198621/198621 [==============================] - 17s 88us/step - loss: 6.3963 - mean_absolute_error: 4.4562
Epoch 4/50
198621/198621 [==============================] - 17s 84us/step - loss: 5.2528 - mean_absolute_error: 3.7538
Epoch 5/50
198621/198621 [==============================] - 16s 82us/step - loss: 4.7517 - mean_absolute_error: 3.3540
Epoch 6/50
198621/198621 [==============================] - 16s 83us/step - loss: 4.3982 - mean_absolute_error: 3.0911
Epoch 7/50
198621/198621 [==============================] - 16s 82us/step - loss: 4.0700 - mean_absolute_error: 2.8401
Epoch 8/50
198621/198621 [==============================] - 17s 87us/step - loss: 3.7713 - mean_absolute_error: 2.6422
Epoch 9/50
198621/198621 [==============================] - 17s 84us/step - loss: 3.5039 - mean_absolute_error: 2.5067
Epoch 10/50
198621/198621 [==============================] - 17s 84us/step - loss: 3.2147 - mean_absolute_error: 2.2829
Epoch 11/50
198621/198621 [==============================] - 16s 82us/step - loss: 2.9598 - mean_absolute_error: 2.1308
Epoch 12/50
198621/198621 [==============================] - 16s 83us/step - loss: 2.8343 - mean_absolute_error: 2.0544
Epoch 13/50
198621/198621 [==============================] - 16s 83us/step - loss: 2.6040 - mean_absolute_error: 1.8967
Epoch 14/50
198621/198621 [==============================] - 16s 82us/step - loss: 2.5327 - mean_absolute_error: 1.8494
Epoch 15/50
198621/198621 [==============================] - 17s 83us/step - loss: 2.4358 - mean_absolute_error: 1.7709
Epoch 16/50
198621/198621 [==============================] - 17s 83us/step - loss: 2.4067 - mean_absolute_error: 1.7569
Epoch 17/50
198621/198621 [==============================] - 17s 84us/step - loss: 2.3305 - mean_absolute_error: 1.7032
Epoch 18/50
198621/198621 [==============================] - 16s 82us/step - loss: 2.2460 - mean_absolute_error: 1.6576
Epoch 19/50
198621/198621 [==============================] - 17s 83us/step - loss: 2.2421 - mean_absolute_error: 1.6429
Epoch 20/50
198621/198621 [==============================] - 17s 84us/step - loss: 2.1827 - mean_absolute_error: 1.6006
Epoch 21/50
198621/198621 [==============================] - 17s 84us/step - loss: 2.1409 - mean_absolute_error: 1.5803
Epoch 22/50
198621/198621 [==============================] - 16s 83us/step - loss: 2.1173 - mean_absolute_error: 1.5835
Epoch 23/50
198621/198621 [==============================] - 16s 83us/step - loss: 2.0691 - mean_absolute_error: 1.5485
Epoch 24/50
198621/198621 [==============================] - 17s 86us/step - loss: 2.0468 - mean_absolute_error: 1.5222
Epoch 25/50
198621/198621 [==============================] - 16s 82us/step - loss: 2.0523 - mean_absolute_error: 1.5382
Epoch 26/50
198621/198621 [==============================] - 17s 84us/step - loss: 2.0180 - mean_absolute_error: 1.5163
Epoch 27/50
198621/198621 [==============================] - 17s 85us/step - loss: 2.0062 - mean_absolute_error: 1.5049
Epoch 28/50
198621/198621 [==============================] - 17s 84us/step - loss: 1.9684 - mean_absolute_error: 1.4843
Epoch 29/50
198621/198621 [==============================] - 16s 82us/step - loss: 1.9088 - mean_absolute_error: 1.4371
Epoch 30/50
198621/198621 [==============================] - 17s 84us/step - loss: 1.9570 - mean_absolute_error: 1.4732
Epoch 31/50
198621/198621 [==============================] - 17s 85us/step - loss: 1.9101 - mean_absolute_error: 1.4522
Epoch 32/50
198621/198621 [==============================] - 16s 83us/step - loss: 1.9046 - mean_absolute_error: 1.4347
Epoch 33/50
198621/198621 [==============================] - 17s 83us/step - loss: 1.8718 - mean_absolute_error: 1.4196
Epoch 34/50
198621/198621 [==============================] - 17s 84us/step - loss: 1.8796 - mean_absolute_error: 1.4080
Epoch 35/50
198621/198621 [==============================] - 18s 90us/step - loss: 1.8577 - mean_absolute_error: 1.4110
Epoch 36/50
198621/198621 [==============================] - 18s 89us/step - loss: 1.7807 - mean_absolute_error: 1.3611
Epoch 37/50
198621/198621 [==============================] - 17s 86us/step - loss: 1.8495 - mean_absolute_error: 1.4110
Epoch 38/50
198621/198621 [==============================] - 17s 84us/step - loss: 1.7470 - mean_absolute_error: 1.3247
Epoch 39/50
198621/198621 [==============================] - 17s 85us/step - loss: 1.7942 - mean_absolute_error: 1.3633
Epoch 40/50
198621/198621 [==============================] - 17s 83us/step - loss: 1.8441 - mean_absolute_error: 1.4208
Epoch 41/50
198621/198621 [==============================] - 17s 85us/step - loss: 1.7272 - mean_absolute_error: 1.3177
Epoch 42/50
198621/198621 [==============================] - 17s 85us/step - loss: 1.7411 - mean_absolute_error: 1.3294
Epoch 43/50
198621/198621 [==============================] - 16s 83us/step - loss: 1.7287 - mean_absolute_error: 1.3289
Epoch 44/50
198621/198621 [==============================] - 17s 84us/step - loss: 1.7528 - mean_absolute_error: 1.3399
Epoch 45/50
198621/198621 [==============================] - 17s 86us/step - loss: 1.7165 - mean_absolute_error: 1.3189
Epoch 46/50
198621/198621 [==============================] - 17s 84us/step - loss: 1.6964 - mean_absolute_error: 1.3054
Epoch 47/50
198621/198621 [==============================] - 17s 83us/step - loss: 1.7099 - mean_absolute_error: 1.3086
Epoch 48/50
198621/198621 [==============================] - 17s 83us/step - loss: 1.6812 - mean_absolute_error: 1.2904
Epoch 49/50
198621/198621 [==============================] - 17s 85us/step - loss: 1.6933 - mean_absolute_error: 1.2972
Epoch 50/50
198621/198621 [==============================] - 16s 83us/step - loss: 1.6996 - mean_absolute_error: 1.3066

In [0]:
preds = model.predict(X_test_lst)

In [0]:
preds = preds.tolist()
preds = [item for sublist in preds for item in sublist]
preds = np.array(preds)

scores_lstm = metric_display(preds)
print(scores_lstm)

('Mean Absolute Error: ', 1.66, 'RMSE: ', 1.9576741790350358, 'Accuracy: ', 98.93)

In [0]:
dictionary = {"MAE":[],"RMSE":[],"Accuracy":[]}
scores
for i in range(len(scores_ada)):
  if i==1:
    dictionary["MAE"].append(scores_ada[i])
    dictionary["MAE"].append(scores_gb[i])
    dictionary["MAE"].append(scores_lstm[i])
    dictionary["MAE"].append(scores_rf[i])
    dictionary["MAE"].append(scores_svm[i])
  elif i==3:
    dictionary["RMSE"].append(scores_ada[i])
    dictionary["RMSE"].append(scores_gb[i])
    dictionary["RMSE"].append(scores_lstm[i])
    dictionary["RMSE"].append(scores_rf[i])
    dictionary["RMSE"].append(scores_svm[i])
  elif i==5:
    dictionary["Accuracy"].append(scores_ada[i])
    dictionary["Accuracy"].append(scores_gb[i])
    dictionary["Accuracy"].append(scores_lstm[i])
    dictionary["Accuracy"].append(scores_rf[i])
    dictionary["Accuracy"].append(scores_svm[i])

dictionary

{'Accuracy': [96.09, 99.01, 98.93, 99.42, 99.43],
 'MAE': [6.68, 1.79, 1.66, 1.08, 1.04],
 'RMSE': [7.968433090920889,
  2.3616757284151517,
  1.9576741790350358,
  1.342022555464408,
  1.2601093235915026]}

In [0]:
models = ["AdaBoost","GradientBoost","LSTM","RandomForest","SVM"]
result_df = pd.DataFrame.from_dict(dictionary,orient='index').transpose()
result_df["models"] = models
result_df = result_df[['models', 'MAE', 'RMSE', 'Accuracy',]]
result_df = result_df.sort_values('Accuracy')

Final result, SVM seems to overperform every other Machine learning model as well as LSTM. Maybe if the dataset had more attributes (or/and) the dataset was larger, LSTM would have obtained better results.

In [0]:
result_df

          models   MAE      RMSE  Accuracy
0       AdaBoost  6.68  7.968433     96.09
2           LSTM  1.66  1.957674     98.93
1  GradientBoost  1.79  2.361676     99.01
3   RandomForest  1.08  1.342023     99.42
4            SVM  1.04  1.260109     99.43